@using R3E.YaHud.Components.Widget.Core
@using R3E.YaHud.Components.Widget.MoTec.Components
@using R3E.API
@inherits HudWidgetBase<MoTecSettings>

@if (Settings?.Visible ?? false)
{
    <div id=@ElementId class="motec-widget text">
        <p class="gear-text" style="color:@RpsCurrentColor">@Gear</p>
        <p class="speed-text" style="color:@RpsCurrentColor">@Speed.ToString("0")</p>
        <div class="rpm-component">
            <HorizontalBar @key="Rps"
                           Min="0.0d"
                           Max="@MaxRps"
                           Value="@Rps"
                           PrimaryColor="@RpsCurrentColor"
                           BackgroundColor="@RpsBarBackgroundColor" />
        </div>
    </div>
}

@code {
    private string Gear { get; set; } = "N";
    private double Speed { get; set; } = 0.0f;
    private double Rps { get; set; } = 3000.0f;
    private double MaxRps { get; set; } = 9000.0f;

    private string RpsBarBackgroundColor => "#454545";
    private string RpsCurrentColor { get; set; } = "#ffffff";

    private bool blinkModeOn = false;
    private string blinkColor = "#ff0000";

    private const double MaxRpsOffset = 20.0;
    private const double UpshiftRpsOffset = 70.0;
    private const double BlinkCycleDuration = 0.3;
    private const double BlinkOnDuration = 0.15;

    public override string ElementId { get => "motecWidget"; }
    public override string Name => "MoTec";
    public override string Category => "Telemetry";

    public override double DefaultXPercent => 90;
    public override double DefaultYPercent => 90;

    public override bool Collidable => true;

    public MoTec()
    {
        UseR3EData = true;
        UpdateInterval = TimeSpan.FromMilliseconds(30);
    }

    protected override void Update()
    {
        R3E.Data.Shared data = TelemetryService.Data.Raw;
        switch (data.Gear)
        {
            case -1:
                Gear = "R";
                break;
            case 0:
                Gear = "N";
                break;
            default:
                Gear = data.Gear.ToString();
                break;
        }
        Speed = UnitConverter.Convert(data.CarSpeed, SpeedUnit.MetersPerSecond, SettingsService.GlobalSettings.SpeedUnit);
        Rps = (double)data.EngineRps;
        MaxRps = (double)data.MaxEngineRps - MaxRpsOffset; // Slightly lower to give a better visual cue
        var upshiftRps = (double)data.UpshiftRps - UpshiftRpsOffset; // Slightly lower to give a better visual cue

        if (Rps >= MaxRps)
        {
            blinkColor = Settings!.RpmMaxColor;
            blinkModeOn = true;
        }
        else if (Rps >= upshiftRps)
        {
            blinkColor = Settings!.RpmUpshiftColor;
            blinkModeOn = true;
        }
        else
        {
            blinkModeOn = false;
        }

        if (blinkModeOn)
        {
            RpsCurrentColor = (data.Player.GameSimulationTime % BlinkCycleDuration) < BlinkOnDuration ? blinkColor : Settings!.SecondaryBlinkColor;
        }
        else
        {
            RpsCurrentColor = Settings!.PrimaryColor;
        }
    }

    protected override void UpdateWithTestData()
    {
        Gear = "4";
        Speed = UnitConverter.Convert(125.5f, SpeedUnit.KilometersPerHour, SettingsService.GlobalSettings.SpeedUnit);
        Rps = 7500.0;
        MaxRps = 9000.0;

        RpsCurrentColor = Settings!.RpmUpshiftColor;
    }
}