@using R3E.Converters
@using R3E.Features.TireWidget
@using R3E.YaHud.Components.UI.Helpers
@using R3E.YaHud.Components.Widget.Core
@using R3E.YaHud.Components.Widget.TireBrakeInfo.Components
@using System.Globalization
@inherits HudWidgetBase<TireBrakeInfoSettings>
@inject TireWidgetService TireWidgetService

@if (Settings?.Visible ?? false)
{
    <WidgetHost Owner="this">
        <div id="@ElementId" class="tire-widget">
            <div class="tire-values top">
                <span>@frontLeft.TirePressure.ToString("F1", CultureInfo.InvariantCulture) psi</span>
                <span>@frontRight.TirePressure.ToString("F1", CultureInfo.InvariantCulture) psi</span>
            </div>

            <div class="bar-row">
                <div style="height:50px; width:50px">
                    <TireBrakeVisual LeftSideTire=true TireLeftColor="@frontLeft.LeftColor" TireMiddleColor="@frontLeft.MiddleColor" TireRightColor="@frontLeft.RightColor" BrakeColor="@frontLeft.BrakeColor"></TireBrakeVisual>
                </div>
                <div class="tire-info">
                    <span class="tire-type" style="border-color: @tireChoiceBackgroundColor; background: @tireChoiceBackgroundColor">@frontTireChoice</span>
                    <span class="tire-age" style="border-color: @tireAgeBackgroundColor; background: @tireAgeBackgroundColor">@frontTireAge</span>
                </div>
                <div style="height:50px; width:50px">
                    <TireBrakeVisual LeftSideTire=false TireLeftColor="@frontRight.LeftColor" TireMiddleColor="@frontRight.MiddleColor" TireRightColor="@frontRight.RightColor" BrakeColor="@frontRight.BrakeColor"></TireBrakeVisual>
                </div>
            </div>

            <div class="tire-values bottom">
                <span>@frontLeft.TireWear.ToString("F0")%</span>
                <span>@frontRight.TireWear.ToString("F0")%</span>
            </div>
            <div class="tire-temps">
                <span>@frontLeft.TireTemperature.ToString("F0")°</span>
                <span>@frontRight.TireTemperature.ToString("F0")°</span>
            </div>

            <hr class="solid">

            <div class="tire-values">

                <span>@rearLeft.TirePressure.ToString("F1", CultureInfo.InvariantCulture) psi</span>
                <span>@rearRight.TirePressure.ToString("F1", CultureInfo.InvariantCulture) psi</span>
            </div>

            <div class="bar-row">
                <div style="height:50px; width:50px">
                    <TireBrakeVisual LeftSideTire=true TireLeftColor="@rearLeft.LeftColor" TireMiddleColor="@rearLeft.MiddleColor" TireRightColor="@rearLeft.RightColor" BrakeColor="@rearLeft.BrakeColor"></TireBrakeVisual>
                </div>
                <div class="tire-info">
                    <span class="tire-type" style="border-color: @tireChoiceBackgroundColor; background: @tireChoiceBackgroundColor">@rearTireChoice</span>
                    <span class="tire-age" style="border-color: @tireAgeBackgroundColor; background: @tireAgeBackgroundColor">@rearTireAge</span>
                </div>
                <div style="height:50px; width:50px">
                    <TireBrakeVisual LeftSideTire=false TireLeftColor="@rearRight.LeftColor" TireMiddleColor="@rearRight.MiddleColor" TireRightColor="@rearRight.RightColor" BrakeColor="@rearRight.BrakeColor"></TireBrakeVisual>
                </div>
            </div>

            <div class="tire-values bottom">
                <span>@rearLeft.TireWear.ToString("F0")%</span>
                <span>@rearRight.TireWear.ToString("F0")%</span>
            </div>
            <div class="tire-temps">
                <span>@rearLeft.TireTemperature.ToString("F0")°</span>
                <span>@rearRight.TireTemperature.ToString("F0")°</span>
            </div>

        </div>
    </WidgetHost>
}

@code {
    public override string ElementId { get => "TireBrakeInfoWidget"; }
    public override string Name => "TireBrakeInfo";
    public override string Category => "Telemetry";
    public override bool Collidable => false;

    public override double DefaultXPercent => 90;
    public override double DefaultYPercent => 90;

    string frontTireChoice = "H";
    string rearTireChoice = "H";
    int frontTireAge = 0;
    int rearTireAge = 0;

    string tireChoiceBackgroundColor = "#2b2727";
    string tireAgeBackgroundColor = "#a18e8e";

    class TireInfo
    {
        // Initialize with default colors to avoid null references before the first update
        public string LeftColor { get; set; } = "darkgray";
        public string MiddleColor { get; set; } = "darkgray";
        public string RightColor { get; set; } = "darkgray";
        public string BrakeColor { get; set; } = "yellow";

        public float TirePressure { get; set; } = 0.0f;
        public float TireWear { get; set; } = 100;
        public float TireTemperature { get; set; } = 100;
    }


    readonly TireInfo frontLeft = new();
    readonly TireInfo frontRight = new();
    readonly TireInfo rearLeft = new();
    readonly TireInfo rearRight = new();


    protected override void UpdateWithTestData()
    {
        var random = new Random();

        frontLeft.LeftColor = GetRandomColor(random.Next(1, 101));
        frontLeft.MiddleColor = GetRandomColor(random.Next(1, 101));
        frontLeft.RightColor = GetRandomColor(random.Next(1, 101));

        frontRight.LeftColor = GetRandomColor(random.Next(1, 101));
        frontRight.MiddleColor = GetRandomColor(random.Next(1, 101));
        frontRight.RightColor = GetRandomColor(random.Next(1, 101));

        rearLeft.LeftColor = GetRandomColor(random.Next(1, 101));
        rearLeft.MiddleColor = GetRandomColor(random.Next(1, 101));
        rearLeft.RightColor = GetRandomColor(random.Next(1, 101));

        rearRight.LeftColor = GetRandomColor(random.Next(1, 101));
        rearRight.MiddleColor = GetRandomColor(random.Next(1, 101));
        rearRight.RightColor = GetRandomColor(random.Next(1, 101));

        frontTireChoice = GetTireTypeName(random.Next(-1, 5));
        rearTireChoice = GetTireTypeName(random.Next(-1, 5));

        frontTireAge = random.Next(0,100);
        rearTireAge = random.Next(0, 100);

        frontLeft.TirePressure = (float)Math.Max((random.NextDouble() * 100),1);
        frontRight.TirePressure = (float)Math.Max((random.NextDouble() * 100), 1);
        rearLeft.TirePressure = (float)Math.Max((random.NextDouble() * 100), 1);
        rearRight.TirePressure = (float)Math.Max((random.NextDouble() * 100), 1);

        frontLeft.TireTemperature = (float)Math.Max((random.NextDouble() * 100), 1);
        frontRight.TireTemperature = (float)Math.Max((random.NextDouble() * 100), 1);
        rearLeft.TireTemperature = (float)Math.Max((random.NextDouble() * 100), 1);
        rearRight.TireTemperature = (float)Math.Max((random.NextDouble() * 100), 1);

        frontLeft.TireWear = (float)Math.Max((random.NextDouble() * 100), 1);
        frontRight.TireWear = (float)Math.Max((random.NextDouble() * 100), 1);
        rearLeft.TireWear = (float)Math.Max((random.NextDouble() * 100), 1);
        rearRight.TireWear = (float)Math.Max((random.NextDouble() * 100), 1);

        frontLeft.BrakeColor = GetRandomColor(random.Next(1, 1000));
        frontRight.BrakeColor = GetRandomColor(random.Next(1, 1000));
        rearLeft.BrakeColor = GetRandomColor(random.Next(1, 1000));
        rearRight.BrakeColor = GetRandomColor(random.Next(1, 1000));

    }

    protected override void Update()
    {
        if (Settings is null) return;
        var newestData = TireWidgetService.TireWidgetData;
        
        // Cache the background colors from settings to avoid repeated parsing in the color calculation methods if performance becomes an issue.
        tireAgeBackgroundColor = Settings.TireAgeBackgroundColor;
        tireChoiceBackgroundColor = Settings.TireChoiceBackgroundColor;

        var coldColor = HexToRgbColor(Settings.TireColdColor);
        var optimalColor = HexToRgbColor(Settings.TireOptimalColor);
        var hotColor = HexToRgbColor(Settings.TireHotColor);

        frontLeft.LeftColor = GetLerpRGB3Color(newestData.Raw.TireTemp.FrontLeft, newestData.Raw.TireTemp.FrontLeft.CurrentTemp.Left, coldColor, optimalColor, hotColor);
        frontLeft.MiddleColor = GetLerpRGB3Color(newestData.Raw.TireTemp.FrontLeft, newestData.Raw.TireTemp.FrontLeft.CurrentTemp.Center, coldColor, optimalColor, hotColor);
        frontLeft.RightColor = GetLerpRGB3Color(newestData.Raw.TireTemp.FrontLeft, newestData.Raw.TireTemp.FrontLeft.CurrentTemp.Right, coldColor, optimalColor, hotColor);


        frontRight.LeftColor = GetLerpRGB3Color(newestData.Raw.TireTemp.FrontRight, newestData.Raw.TireTemp.FrontRight.CurrentTemp.Left, coldColor, optimalColor, hotColor);
        frontRight.MiddleColor = GetLerpRGB3Color(newestData.Raw.TireTemp.FrontRight, newestData.Raw.TireTemp.FrontRight.CurrentTemp.Center, coldColor, optimalColor, hotColor);
        frontRight.RightColor = GetLerpRGB3Color(newestData.Raw.TireTemp.FrontRight, newestData.Raw.TireTemp.FrontRight.CurrentTemp.Right, coldColor, optimalColor, hotColor);

        rearLeft.LeftColor = GetLerpRGB3Color(newestData.Raw.TireTemp.RearLeft, newestData.Raw.TireTemp.RearLeft.CurrentTemp.Left, coldColor, optimalColor, hotColor);
        rearLeft.MiddleColor = GetLerpRGB3Color(newestData.Raw.TireTemp.RearLeft, newestData.Raw.TireTemp.RearLeft.CurrentTemp.Center, coldColor, optimalColor, hotColor);
        rearLeft.RightColor = GetLerpRGB3Color(newestData.Raw.TireTemp.RearLeft, newestData.Raw.TireTemp.RearLeft.CurrentTemp.Right, coldColor, optimalColor, hotColor);

        rearRight.LeftColor = GetLerpRGB3Color(newestData.Raw.TireTemp.RearRight, newestData.Raw.TireTemp.RearRight.CurrentTemp.Left, coldColor, optimalColor, hotColor);
        rearRight.MiddleColor = GetLerpRGB3Color(newestData.Raw.TireTemp.RearRight, newestData.Raw.TireTemp.RearRight.CurrentTemp.Center, coldColor, optimalColor, hotColor);
        rearRight.RightColor = GetLerpRGB3Color(newestData.Raw.TireTemp.RearRight, newestData.Raw.TireTemp.RearRight.CurrentTemp.Right, coldColor, optimalColor, hotColor);

        frontTireChoice = GetTireTypeName(newestData.Raw.TireSubtypeFront);
        rearTireChoice = GetTireTypeName(newestData.Raw.TireSubtypeRear);

        frontTireAge = newestData.FrontTireAge;
        rearTireAge = newestData.RearTireAge;

        frontLeft.TirePressure = UnitConverter.Convert(newestData.Raw.TirePressure.FrontLeft, PressureUnit.Kpa, PressureUnit.Psi);
        frontRight.TirePressure = UnitConverter.Convert(newestData.Raw.TirePressure.FrontRight, PressureUnit.Kpa, PressureUnit.Psi);
        rearLeft.TirePressure = UnitConverter.Convert(newestData.Raw.TirePressure.RearLeft, PressureUnit.Kpa, PressureUnit.Psi);
        rearRight.TirePressure = UnitConverter.Convert(newestData.Raw.TirePressure.RearRight, PressureUnit.Kpa, PressureUnit.Psi);

        frontLeft.TireTemperature = newestData.FrontLeftTireTemp;
        frontRight.TireTemperature = newestData.FrontRightTireTemp;
        rearLeft.TireTemperature = newestData.RearLeftTireTemp;
        rearRight.TireTemperature = newestData.RearRightTireTemp;

        frontLeft.TireWear = newestData.TireWear.FrontLeft;
        frontRight.TireWear = newestData.TireWear.FrontRight;
        rearLeft.TireWear = newestData.TireWear.RearLeft;
        rearRight.TireWear = newestData.TireWear.RearRight;

        var brakeColdColor = HexToRgbColor(Settings.BrakeColdColor);
        var brakeOptimalColor = HexToRgbColor(Settings.BrakeOptimalColor);
        var brakeHotColor = HexToRgbColor(Settings.BrakeHotColor);


        frontLeft.BrakeColor = GetLerpRGB3BrakeColor(newestData.Raw.BrakeTemp.FrontLeft, brakeColdColor, brakeOptimalColor, brakeHotColor);
        frontRight.BrakeColor = GetLerpRGB3BrakeColor(newestData.Raw.BrakeTemp.FrontRight, brakeColdColor, brakeOptimalColor, brakeHotColor);
        rearLeft.BrakeColor = GetLerpRGB3BrakeColor(newestData.Raw.BrakeTemp.RearLeft, brakeColdColor, brakeOptimalColor, brakeHotColor);
        rearRight.BrakeColor = GetLerpRGB3BrakeColor(newestData.Raw.BrakeTemp.RearRight, brakeColdColor, brakeOptimalColor, brakeHotColor);

    }

    private record struct RgbColor(int R, int G, int B)
    {
        public int[] ToArray() => [R, G, B];
    }

    private RgbColor HexToRgbColor(string hex)
    {
        const int fallbackR = 169;
        const int fallbackG = 169;
        const int fallbackB = 169;
        const string fallbackHex = "#a9a9a9";
        var originalHex = hex;
        if (string.IsNullOrWhiteSpace(hex))
        {
            Logger.LogError("Hex color cannot be null or empty. Using fallback '{Hex}'.", fallbackHex);
            return new RgbColor(fallbackR, fallbackG, fallbackB);
        }
        var sanitized = hex.Trim();
        if (sanitized.StartsWith("#"))
        {
            sanitized = sanitized.Substring(1);
        }
        if (sanitized.Length != 6)
        {
            Logger.LogError("Hex color must be 6 characters long. Value '{Hex}' is invalid. Using fallback '{FallbackHex}'.", originalHex, fallbackHex);
            return new RgbColor(fallbackR, fallbackG, fallbackB);
        }
        if (!int.TryParse(sanitized.Substring(0, 2), NumberStyles.HexNumber, CultureInfo.InvariantCulture, out var r) ||
            !int.TryParse(sanitized.Substring(2, 2), NumberStyles.HexNumber, CultureInfo.InvariantCulture, out var g) ||
            !int.TryParse(sanitized.Substring(4, 2), NumberStyles.HexNumber, CultureInfo.InvariantCulture, out var b))
        {
            Logger.LogError("Hex color '{Hex}' contains non-hex characters. Using fallback '{FallbackHex}'.", originalHex, fallbackHex);
            return new RgbColor(fallbackR, fallbackG, fallbackB);
        }

        return new RgbColor(r, g, b);
    }

    private static string GetLerpRGB3Color(
        Data.TireTempInformation tireData,
        float tireTemperature,
        RgbColor? coldColor = null,
        RgbColor? optimalColor = null,
        RgbColor? hotColor = null)
    {
        var cold = (coldColor ?? new RgbColor(0, 0, 200)).ToArray();
        var optimal = (optimalColor ?? new RgbColor(0, 200, 0)).ToArray();
        var hot = (hotColor ?? new RgbColor(200, 0, 0)).ToArray();

        // Guard against invalid temperature ranges
        float tempRange = tireData.HotTemp - tireData.ColdTemp;
        if (tempRange <= 0)
        {
            // If HotTemp <= ColdTemp, treat everything as cold
            return ColorUtils.LerpRGB3(cold, optimal, hot, 0.5, 0);
        }

        return ColorUtils.LerpRGB3(
            cold,
            optimal,
            hot,
            (tireData.OptimalTemp - tireData.ColdTemp) / tempRange,
            (tireTemperature - tireData.ColdTemp) / tempRange);
    }

    private static string GetLerpRGB3BrakeColor(
        Data.BrakeTemp brakeData,
        RgbColor? coldColor = null,
        RgbColor? optimalColor = null,
        RgbColor? hotColor = null)
    {
        var cold = (coldColor ?? new RgbColor(0, 0, 200)).ToArray();
        var optimal = (optimalColor ?? new RgbColor(0, 200, 0)).ToArray();
        var hot = (hotColor ?? new RgbColor(200, 0, 0)).ToArray();

        // Guard against invalid temperature ranges
        float tempRange = brakeData.HotTemp - brakeData.ColdTemp;
        if (tempRange <= 0)
        {
            // If HotTemp <= ColdTemp, treat everything as cold
            return ColorUtils.LerpRGB3(cold, optimal, hot, 0.5, 0);
        }

        return ColorUtils.LerpRGB3(
            cold,
            optimal,
            hot,
            (brakeData.OptimalTemp - brakeData.ColdTemp) / tempRange,
            (brakeData.CurrentTemp - brakeData.ColdTemp) / tempRange);
    }


    private static string GetTireTypeName(int tireSubtype)
    {
        var tireType = Enum.IsDefined(typeof(R3E.Constant.TireSubtype), tireSubtype)
            ? ((R3E.Constant.TireSubtype)tireSubtype).ToString()
            : "?";

        switch (tireType)
        {
            case "Hard":
                return "H";
            case "Medium":
                return "M";
            case "Soft":
                return "S";
            case "Alternate":
                return "A";
            case "Primary":
                return "P";
            case "Unavailable":
                return "?";
        }

        return tireType;
    }

    private string GetRandomColor(int value)
    {

        int r, g, b;

        if (value <= 20)
        {
            // Black → Gray
            int shade = (int)(value / 20.0 * 128); // 0 → 128
            r = g = b = shade;
        }
        else if (value <= 40)
        {
            // Gray → Blue
            double t = (value - 20) / 20.0;
            r = (int)(128 * (1 - t));
            g = (int)(128 * (1 - t));
            b = (int)(128 + 127 * t);
        }
        else if (value <= 60)
        {
            // Blue → Yellow
            double t = (value - 40) / 20.0;
            r = (int)(255 * t);
            g = (int)(255 * t);
            b = (int)(255 * (1 - t));
        }
        else if (value <= 80)
        {
            // Yellow → Orange
            double t = (value - 60) / 20.0;
            r = 255;
            g = (int)(255 - 90 * t); // 255 → 165
            b = 0;
        }
        else
        {
            // Orange → Red
            double t = (value - 80) / 20.0;
            r = 255;
            g = (int)(165 * (1 - t));
            b = 0;
        }

        return $"rgb({r}, {g}, {b})";
    }
}
