@using R3E.YaHud.Components.UI.Helpers
@using R3E.YaHud.Components.Widget.Core
@using R3E.YaHud.Components.Widget.TireBrakeInfo.Components
@inherits HudWidgetBase<TireBrakeInfoSettings>

@if (Settings?.Visible ?? false)
{
    <div id="@ElementId" class="tire-widget">
        <!-- Top values -->
        <div class="tire-values top">
            <span>@frontLeftPressure</span>
            <span>@frontRightPressure</span>
        </div>

        <!-- Top bar -->
        <div class="bar-row">
            <div style="height:50px; width:50px">
                <TireBrakeVisual LeftSideTire=true ></TireBrakeVisual>
            </div>
            <div class="tire-info">
                <span class="tire-type">H</span>
                <span class="tire-age">10</span>
            </div>
            <div style="height:50px; width:50px">
                <TireBrakeVisual LeftSideTire=false></TireBrakeVisual>
            </div>
        </div>

        <div class="tire-values bottom">
            <span>100%</span>
            <span>100%</span>
        </div>

        <!-- Center label -->
        @* <div class="center-label">@tyreChoice</div> *@
        <hr class="solid">

        <div class="tire-values">

            <span>@rearLeftPressure</span>
            <span>@rearRightPressure</span>
        </div>

        <!-- Bottom bar -->
        <div class="bar-row">
            @* <p class="brake-temp">72°</p> *@
            <div style="height:50px; width:50px">
                <TireBrakeVisual LeftSideTire=true></TireBrakeVisual>
            </div>
            <div class="tire-info">
                <span class="tire-type">H</span>
                <span class="tire-age">5</span>
            </div>
            <div style="height:50px; width:50px">
                <TireBrakeVisual LeftSideTire=false></TireBrakeVisual>
            </div>
            @* <p class="brake-temp">107°</p> *@
        </div>

        <!-- Bottom values -->
        <div class="tire-values bottom">
            <span>100%</span>
            <span>100%</span>
        </div>
        <div class="tire-temps">
            <span>72°</span>
            <span>107°</span>
        </div>

    </div>
}

@code {
    public override string ElementId { get => "TireBrakeInfoWidget"; }
    public override string Name => "TireBrakeInfo";
    public override string Category => "Telemetry";
    public override bool Collidable => false;

    public override double DefaultXPercent => 90;
    public override double DefaultYPercent => 90;

    string[] nameMap = { "front-left", "front-right", "rear-left", "rear-right" }; 
    string frontLeftPressure = "26.0 psi";
    string frontRightPressure = "26.0 psi";
    string rearLeftPressure = "26.0 psi";
    string rearRightPressure = "26.0 psi";
    string tyreChoice = "Hard";

    class tyreInfo
    {
        public string leftColor { get; set; }
        public string middleColor { get; set; }
        public string rightColor { get; set; }
        public string brakeColor { get; set; }
    }

    tyreInfo frontLeft = new();
    tyreInfo frontRight = new();
    tyreInfo rearLeft = new();
    tyreInfo rearRight = new();


    protected override void UpdateWithTestData()
    {
        throw new NotImplementedException();
    }

    protected override void Update()
    {
        //throw new NotImplementedException();
        if (Settings is null) return;
        var NewestData = TelemetryService.Data;
        if (NewestData is null) return;

        frontLeft.leftColor = GetLerpRGB3Color(NewestData.Raw.TireTemp.FrontLeft, NewestData.Raw.TireTemp.FrontLeft.CurrentTemp.Left);
        frontLeft.middleColor = GetLerpRGB3Color(NewestData.Raw.TireTemp.FrontLeft, NewestData.Raw.TireTemp.FrontLeft.CurrentTemp.Center);
        frontLeft.rightColor = GetLerpRGB3Color(NewestData.Raw.TireTemp.FrontLeft, NewestData.Raw.TireTemp.FrontLeft.CurrentTemp.Right);

        frontRight.leftColor = GetLerpRGB3Color(NewestData.Raw.TireTemp.FrontRight, NewestData.Raw.TireTemp.FrontRight.CurrentTemp.Left);
        frontRight.middleColor = GetLerpRGB3Color(NewestData.Raw.TireTemp.FrontRight, NewestData.Raw.TireTemp.FrontRight.CurrentTemp.Center);
        frontRight.rightColor = GetLerpRGB3Color(NewestData.Raw.TireTemp.FrontRight, NewestData.Raw.TireTemp.FrontRight.CurrentTemp.Right);

        rearLeft.leftColor = GetLerpRGB3Color(NewestData.Raw.TireTemp.RearLeft, NewestData.Raw.TireTemp.RearLeft.CurrentTemp.Left);
        rearLeft.middleColor = GetLerpRGB3Color(NewestData.Raw.TireTemp.RearLeft, NewestData.Raw.TireTemp.RearLeft.CurrentTemp.Center);
        rearLeft.rightColor = GetLerpRGB3Color(NewestData.Raw.TireTemp.RearLeft, NewestData.Raw.TireTemp.RearLeft.CurrentTemp.Right);

        rearRight.leftColor = GetLerpRGB3Color(NewestData.Raw.TireTemp.RearRight, NewestData.Raw.TireTemp.RearRight.CurrentTemp.Left);
        rearRight.middleColor = GetLerpRGB3Color(NewestData.Raw.TireTemp.RearRight, NewestData.Raw.TireTemp.RearRight.CurrentTemp.Center);
        rearRight.rightColor = GetLerpRGB3Color(NewestData.Raw.TireTemp.RearRight, NewestData.Raw.TireTemp.RearRight.CurrentTemp.Right);

    }

    private static string GetLerpRGB3Color(Data.TireTempInformation tireData, float tireTemperature)
    {
        return ColorUtils.LerpRGB3([0, 0, 200], [0, 200, 0], [200, 0, 0], (tireData.OptimalTemp - tireData.ColdTemp) / (tireData.HotTemp - tireData.ColdTemp), (tireTemperature - tireData.ColdTemp) / (tireData.HotTemp - tireData.ColdTemp));
    }
}
