@using R3E.YaHud.Components.Widget.Core
@using R3E.Features.Driver
@inherits HudWidgetBase<TvTowerSettings>
@implements IDisposable
@inject DriverService DriverService


<WidgetHost Owner="this">
    <div id="@ElementId" class="tv-tower-widget">
        <table class="tv-table">
            <thead>
                <tr>
                    <th class="col-pos"></th>
                    <th class="col-manu"></th>
                    <th class="col-car"></th>
                    <th class="col-driver">Driver</th>
                    <th class="col-best">Best</th>
                    <th class="col-tyre">Tyres</th>
                    <th class="col-pit">Pit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var d in drivers)
                {
                    var rowClasses = "tv-row";
                    if (d.IsPlayer)
                    {
                        rowClasses += " tv-row-player";
                    }

                    <tr class="@rowClasses">
                        <td class="col-pos">@d.Position</td>

                        <td class="col-manu">
                            @if (!string.IsNullOrWhiteSpace(d.ManufacturerImageUrl))
                            {
                                <img src="@d.ManufacturerImageUrl" class="tv-manu-img" />
                            }
                        </td>
                        <td class="col-car">@d.CarNumber</td>
                        <td class="col-driver">@d.Name</td>
                        <td class="col-best">@FormatLap(d.BestLapTime)</td>
                        <td class="col-tyre">@FormatTyre(d.TireSubtypeFront, d.TireSubtypeRear)</td>
                        <td class="col-pit" style="background-color:@GetPitStopColor(d);">@(d.IsInPitLane ? "PIT" : string.Empty)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</WidgetHost>


@code {

    public override string ElementId => "tvTowerWidget";
    public override string Name => "TV Tower";
    public override string Category => "Utility";

    public override double DefaultXPercent => 0;
    public override double DefaultYPercent => 20;

    public override bool Collidable => true;

    private List<Features.Driver.DriverInfo> drivers = new();

    public TvTower()
    {
        UseR3EData = true;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override void Update()
    {
        drivers = DriverService.GetAllDriversByPosition().ToList();
    }

    protected override void UpdateWithTestData()
    {
        drivers = new List<Features.Driver.DriverInfo>
        {
            new() { Name = "K. Magnussen", Position = 1, CarNumber = 15, BestLapTime = TimeSpan.FromSeconds(82.532), ManufacturerImageUrl = "https://prod.r3eassets.com/assets/content/carmanufactor/bmw-2550-image-small.webp", TireSubtypeFront = (int)R3E.Constant.TireSubtype.Soft, TireSubtypeRear = (int)R3E.Constant.TireSubtype.Soft },
            new() { Name = "M. Bortolotti", Position = 2, CarNumber = 63, TireSubtypeFront = (int)R3E.Constant.TireSubtype.Medium, TireSubtypeRear = (int)R3E.Constant.TireSubtype.Medium, IsInPitLane = true, ManufacturerImageUrl = "https://prod.r3eassets.com/assets/content/carmanufactor/lamborghini-9930-image-small.webp", NumPitStops = 0 },
            new() { Name = "K. Estre", Position = 3, CarNumber = 6, BestLapTime = TimeSpan.FromSeconds(80.713), ManufacturerImageUrl = "https://prod.r3eassets.com/assets/content/carmanufactor/porsche-3013-image-small.webp", TireSubtypeFront = (int)R3E.Constant.TireSubtype.Soft, TireSubtypeRear = (int)R3E.Constant.TireSubtype.Soft, NumPitStops = 0 },
            new() { Name = "You", Position = 4, CarNumber = 7, TireSubtypeFront = (int)R3E.Constant.TireSubtype.Medium, TireSubtypeRear = (int)R3E.Constant.TireSubtype.Soft, BestLapTime = TimeSpan.FromSeconds(85.790), IsPlayer = true, ManufacturerImageUrl = "https://prod.r3eassets.com/assets/content/carmanufactor/ferrari-10395-image-small.webp", NumPitStops = 1 },
            new() { Name = "M. Engel", Position = 5, CarNumber = 5, TireSubtypeFront = (int)R3E.Constant.TireSubtype.Soft, TireSubtypeRear = (int)R3E.Constant.TireSubtype.Soft, BestLapTime = TimeSpan.FromSeconds(88.715), IsInPitLane = true, ManufacturerImageUrl = "https://prod.r3eassets.com/assets/content/carmanufactor/mercedes-2552-image-small.webp", NumPitStops = 1 },
            new() { Name = "O. Jarvis", Position = 6, CarNumber = 77, BestLapTime = TimeSpan.FromSeconds(95.391), ManufacturerImageUrl = "https://prod.r3eassets.com/assets/content/carmanufactor/mazda-10978-image-small.webp", TireSubtypeFront = (int)R3E.Constant.TireSubtype.Hard, TireSubtypeRear = (int)R3E.Constant.TireSubtype.Hard, NumPitStops = 1 },
            new() { Name = "N. Cassidy", Position = 7, CarNumber = 37, BestLapTime = new TimeSpan(0, 1, 29, 191), IsInPitLane = true, ManufacturerImageUrl = "https://prod.r3eassets.com/assets/content/carmanufactor/nsu-4814-image-small.webp", TireSubtypeFront = (int)R3E.Constant.TireSubtype.Medium, TireSubtypeRear = (int)R3E.Constant.TireSubtype.Medium, NumPitStops = 0 }
        };
    }

    private static string FormatLap(TimeSpan time)
    {
        if (time <= TimeSpan.Zero)
        {
            return "--:--.---";
        }

        var totalMinutes = (int)time.TotalMinutes;
        var seconds = time.Seconds;
        var millis = time.Milliseconds;
        return $"{totalMinutes}:{seconds:00}.{millis:000}";
    }

    private static string FormatTyre(int frontSubtype, int rearSubtype)
    {
        if (frontSubtype == rearSubtype)
        {
            return TireSubtypeToShortString(frontSubtype);
        }
        return $"{TireSubtypeToShortString(frontSubtype)}/{TireSubtypeToShortString(rearSubtype)}";
    }

    private static string TireSubtypeToShortString(int subtype)
    {
        return (R3E.Constant.TireSubtype)subtype switch
        {
            R3E.Constant.TireSubtype.Soft => "S",
            R3E.Constant.TireSubtype.Medium => "M",
            R3E.Constant.TireSubtype.Hard => "H",
            R3E.Constant.TireSubtype.Primary => "P",
            R3E.Constant.TireSubtype.Alternate => "A",
            _ => "-"
        };
    }

    private string GetPitStopColor(Features.Driver.DriverInfo driver)
    {
        if (driver.NumPitStops > 0)
        {
            return Settings!.PitStopServedColor;
        }
        return Settings!.PitStopNotServedColor;
    }

    public override void Dispose()
    {
        base.Dispose();
    }
}

