@using R3E.API
@using R3E.YaHud.Components.Widget.Core
@using R3E.YaHud.Components.Widget.Progress.Components
@using System.Globalization
@inherits HudWidgetBase<ProgressSettings>
@implements IDisposable

@inject ILogger<Progress> Logger

@if (Settings?.Visible ?? false)
{
    <div id=@ElementId>
        <span id="time-delta-best-lap" style="color: @TimeDeltaBestLapSelfColor;">@GetTimeFormatted(TimeDeltaBestLapSelf, -1000)</span>
    
        <div id="box-container">
            <PositiveNegativeBar 
                Value=@(TimeDeltaBestLapSelf * -1) 
                Range=@Settings.PositiveNegativeBarRange
                RootElementClass="visual-bar" 
                PositiveColor=@Settings.PositiveDeltaTimeColor 
                NegativeColor=@Settings.NegativeDeltaTimeColor />

            <div id="sector-times">
                @for (int i = 0; i < 3; i++)
                {
                    <div class="sector-time" style="background: @SectorColors[i]; color: @Settings.SectorTimeAndInfoTextColor;">
                        <span>S@(i+1): @GetTimeFormatted(SectorTimes[i])</span>
                    </div>
                }
            </div>
            <div id="lap-distance-fraction" style="width: @((LapDistanceFraction * 100).ToString(CultureInfo.InvariantCulture))%; background: @Settings.LapDistanceBarColor"></div>
        </div>
        <div id="info-grid">
            <span id="estimate-lap-time" style="color: @Settings.SectorTimeAndInfoTextColor;">Est. Time: @GetTimeFormatted(EstimateLapTime)</span>
            <span id="last-lap-time" style="color: @Settings.SectorTimeAndInfoTextColor;">Last Lap: @GetTimeFormatted(LastLapTime)</span>
            <span id="estimate-position" style="color: @Settings.SectorTimeAndInfoTextColor; display: @(IsQualifying ? "block" : "none");">Est. Pos: @(EstimatePosition != -1 ? EstimatePosition : "-")</span>
        </div>
    </div>
}


@code {

    // Widget values
    public override string ElementId { get => "progressWidget"; }
    public override string Name => "Progress";
    public override string Category => "Telemetry";

    public override double DefaultXPercent => 50;
    public override double DefaultYPercent => 20;

    public override bool Collidable => false;

    // Controlling values
    private double TimeDeltaBestLapSelf { get; set; } = 0.0f;
    private double[] SectorTimes { get; set; } = [-1, -1, -1];
    private double LapDistanceFraction { get; set; } = 0;
    private double EstimateLapTime { get; set; } = -1;
    private double LastLapTime { get; set; } = -1;
    private int EstimatePosition { get; set; } = -1;

    // Style values
    private string TimeDeltaBestLapSelfColor = "#000000";
    private string[] SectorColors = ["#000000", "#000000", "#000000"];

    private bool IsQualifying => (R3E.Constant.Session)TelemetryService.Data.Raw.SessionType == R3E.Constant.Session.Qualify && !TestMode;

    private string GetTimeFormatted(double time, double naValue = -1, string naText = "-:--.---") {
        if (time == naValue)
            return naText;

        var minutes = Math.Floor(time / 60);
        var seconds = time % 60;

        return $"{(minutes > 0 ? minutes + ":" : "")}{seconds.ToString("0.000", CultureInfo.InvariantCulture)}";
    }

    protected override Task OnSettingsLoadedAsync()
    {
        TimeDeltaBestLapSelfColor = Settings!.NeutralDeltaTimeColor;
        SectorColors = Enumerable.Repeat(Settings!.NeutralSectorTimeColor, 3).ToArray();

        TelemetryService.NewLap += NewLapEvent;

        return Task.CompletedTask;
    }

    private void NewLapEvent(TelemetryData data)
    {
        new Timer((object? state) => {
            SectorTimes = [-1, -1, -1];
        }, null, (int)(Settings!.CompletedLapSectorTimesVisibleTime * 1000), Timeout.Infinite);
    }

    protected override void Update() {
        UpdateWithValuesFromR3E();
        UpdateVisuals();

        Logger.LogInformation("CURRENT | S1: {s1} | S2: {s2} | S3: {s3}", [
            TelemetryService.Data.Raw.SectorTimesCurrentSelf.Sector1,
            TelemetryService.Data.Raw.SectorTimesCurrentSelf.Sector2,
            TelemetryService.Data.Raw.SectorTimesCurrentSelf.Sector3
        ]);
        Logger.LogInformation("Best Se | S1: {s1} | S2: {s2} | S3: {s3}", [
            TelemetryService.Data.Raw.BestIndividualSectorTimeSelf.Sector1,
            TelemetryService.Data.Raw.BestIndividualSectorTimeSelf.Sector2,
            TelemetryService.Data.Raw.BestIndividualSectorTimeSelf.Sector3
        ]);
        Logger.LogInformation("Best Le | S1: {s1} | S2: {s2} | S3: {s3}", [
            TelemetryService.Data.Raw.BestIndividualSectorTimeLeader.Sector1,
            TelemetryService.Data.Raw.BestIndividualSectorTimeLeader.Sector2,
            TelemetryService.Data.Raw.BestIndividualSectorTimeLeader.Sector3
        ]);
        Logger.LogInformation("");
        Logger.LogInformation("");

        /*
        * TODO:
         * 
         * Value for Estimate position
         * Velocity switches for number and bar display
         */



        /*
        * public Single LapDistance;
    // fraction of lap completed, 0.0-1.0, -1.0 = N/A
    public Single LapDistanceFraction;

    // The current best lap time for the leader of the session (-1.0 = N/A)
    public Single LapTimeBestLeader;
    // The current best lap time for the leader of the player's class in the current session (-1.0 = N/A)
    public Single LapTimeBestLeaderClass;
    // Sector times of fastest lap by anyone in session
    // Unit: Seconds (-1.0 = N/A)
    public Sectors<Single> SectorTimesSessionBestLap;
    // Unit: Seconds (-1.0 = none)
    public Single LapTimeBestSelf;
    public Sectors<Single> SectorTimesBestSelf;
    // Unit: Seconds (-1.0 = none)
    public Single LapTimePreviousSelf;
    public Sectors<Single> SectorTimesPreviousSelf;
    // Unit: Seconds (-1.0 = none)
    public Single LapTimeCurrentSelf;
    public Sectors<Single> SectorTimesCurrentSelf;
    // The time delta between the player's time and the leader of the current session (-1.0 = N/A)
    public Single LapTimeDeltaLeader;
    // The time delta between the player's time and the leader of the player's class in the current session (-1.0 = N/A)
    public Single LapTimeDeltaLeaderClass;
    // Time delta between the player and the car placed in front (-1.0 = N/A)
    // Units: Seconds
    public Single TimeDeltaFront;
    // Time delta between the player and the car placed behind (-1.0 = N/A)
    // Units: Seconds
    public Single TimeDeltaBehind;
    // Time delta between this car's current laptime and this car's best laptime
    // Unit: Seconds (-1000.0 = N/A)
    public Single TimeDeltaBestSelf;
    // Best time for each individual sector no matter lap
    // Unit: Seconds (-1.0 = N/A)
    public Sectors<Single> BestIndividualSectorTimeSelf;
    public Sectors<Single> BestIndividualSectorTimeLeader;
    public Sectors<Single> BestIndividualSectorTimeLeaderClass;
         */
    }

    private void UpdateWithValuesFromR3E() {
        var rawData = TelemetryService.Data.Raw;

        TimeDeltaBestLapSelf = rawData.TimeDeltaBestSelf;
        SectorTimes = [
            rawData.SectorTimesCurrentSelf.Sector1,
            rawData.SectorTimesCurrentSelf.Sector2 != -1 ? rawData.SectorTimesCurrentSelf.Sector2 - rawData.SectorTimesCurrentSelf.Sector1 : -1,
            rawData.SectorTimesCurrentSelf.Sector3 != -1 ? rawData.SectorTimesCurrentSelf.Sector3 - rawData.SectorTimesCurrentSelf.Sector2 : -1
        ];
        LapDistanceFraction = Math.Max(rawData.LapDistanceFraction, 0); // Max to remove -1

        if (rawData.LapTimePreviousSelf == -1 || rawData.TimeDeltaBestSelf == -1000)
            EstimateLapTime = -1;
        else
            EstimateLapTime = rawData.LapTimePreviousSelf + rawData.TimeDeltaBestSelf;

        LastLapTime = rawData.LapTimePreviousSelf;
    }

    private void UpdateVisuals(bool isTest = false)
    {
        TimeDeltaBestLapSelfColor = TimeDeltaBestLapSelf switch 
        {
            -1000 => Settings!.NeutralDeltaTimeColor,
            > 0.0 => Settings!.NegativeDeltaTimeColor,
            < 0.0 => Settings!.PositiveDeltaTimeColor,
            _ => Settings!.NeutralDeltaTimeColor
        };

        var rawData = TelemetryService.Data.Raw;
        double[] bestIndividualSectorTimesLeader = [
            TelemetryService.Data.Raw.BestIndividualSectorTimeLeader.Sector1,
            TelemetryService.Data.Raw.BestIndividualSectorTimeLeader.Sector2,
            TelemetryService.Data.Raw.BestIndividualSectorTimeLeader.Sector3
        ];
        double[] bestIndividualSectorTimesSelf = [
            TelemetryService.Data.Raw.BestIndividualSectorTimeSelf.Sector1,
            TelemetryService.Data.Raw.BestIndividualSectorTimeSelf.Sector2,
            TelemetryService.Data.Raw.BestIndividualSectorTimeSelf.Sector3
        ];
        for (int i = 0; i < 3; i++)
        {
            var currentSectorTime = SectorTimes[i];

            if (currentSectorTime == -1)
            {
                SectorColors[i] = Settings.NeutralSectorTimeColor;
            }
            else if (currentSectorTime < bestIndividualSectorTimesLeader[i])
            {
                SectorColors[i] = Settings.FastestSectorTimeAllColor;
            }
            else if (currentSectorTime < bestIndividualSectorTimesSelf[i]) {
                SectorColors[i] = Settings.FastestSectorTimeSelfColor;
            }
            else
            {
                SectorColors[i] = Settings.NeutralSectorTimeColor;
            }
        }
    }

    protected override void UpdateWithTestData() {
        var rnd = new Random();
        TimeDeltaBestLapSelf = rnd.NextDouble() * 2 - 1;
        for (int i = 0; i < 3; i++)
        {
            SectorTimes[i] = rnd.NextDouble() * 180;
        }

        SectorColors = [
            Settings!.NeutralSectorTimeColor,
            Settings!.FastestSectorTimeSelfColor,
            Settings!.FastestSectorTimeAllColor
        ];

        LapDistanceFraction = rnd.NextDouble();

        EstimateLapTime = rnd.NextDouble() * 120;
        LastLapTime = rnd.NextDouble() * 120;
        EstimatePosition = rnd.Next(1, 20);

        UpdateVisuals(true);
    }

    public override void Dispose() {
        base.Dispose();

        TelemetryService.NewLap -= NewLapEvent;
    }
}
