@using R3E.YaHud.Components.Widget.Core
@using R3E.Models
@inherits HudWidgetBase<FuelSettings>

@if (Settings?.Visible ?? false)
{
    <div id=@ElementId class="Fuel-widget">
        <div class="data-grid">
            <div class="data-box large-box">
                <p class="value"style="color: @FuelRemainingColor">@(FuelRemaining.ToString("F1"))</p>
                <div class="label">Fuel<br />Remaining</div>
            </div>

            <div class="data-box">
                <p class="value"style="color: @TimeEstimatedLeftColor">@TimeEstimatedLeftFormatted</p>
                <div class="label">Time Estimated</div>
            </div>

            <div class="data-box">
                <p class="value"style="color: @Settings.LastLapFuelUsageColor">@(LastLapFuelUsage.ToString("F1"))</p>
                <div class="label">Last Lap</div>
            </div>
            
            <div class="data-box large-box">
                <p class="value"style="color: @FuelToEndColor">@(FuelToEnd.ToString("F1"))</p>
                <div class="label">Fuel<br />to End</div>
            </div>

            <div class="data-box large-box">
                <p class="value"style="color: @Settings.FuelToAddColor">@(FuelToAdd.ToString("F1"))</p>
                <div class="label">Fuel<br />to Add</div>
            </div>

            <div class="data-box">
                <p class="value"style="color: @Settings.LapsEstimatedLeftColor">@(LapsEstimatedLeft.ToString("F1"))</p>
                <div class="label">Laps Est.</div>
            </div>

            <div class="data-box">
                <p class="value"style="color: @Settings.FuelPerLapColor">@(FuelPerLap.ToString("F1"))</p>
                <div class="label">Fuel per Lap</div>
            </div>
        </div>
    </div>
}

@code {
    private double FuelRemaining { get; set; } = 0.0f;
    private string FuelRemainingColor { get; set; } = "rgb(0, 128, 0)";
    private string TimeEstimatedLeftFormatted { get; set; } = "0";
    private string TimeEstimatedLeftColor { get; set; } = "rgb(0, 128, 0)";
    private double LapsEstimatedLeft { get;  set; } = 0.0f;
    private double LastLapFuelUsage { get; set; } = 0.0f;
    private double FuelPerLap { get; set; } = 0.0f;
    private double FuelToEnd { get; set; } = 0.0f;
    private string FuelToEndColor { get; set; } = "rgb(0, 128, 0)";
    private double FuelToAdd { get;  set; } = 0.0f;
    public override string ElementId { get => "FuelWidget"; }
    public override string Name => "Fuel";
    public override string Category => "Telemetry";
    public override double DefaultXPercent => 50;
    public override double DefaultYPercent => 50;
    public override bool Collidable => true;

    public Fuel()
    {
        UseR3EData = true;
        UpdateInterval = TimeSpan.FromMilliseconds(30);
    }
    
    protected override void Update()
    {
        FuelData data = TelemetryService.FuelData;

        //Start mapping of variables  
        FuelRemaining = data.FuelLeft;
        LastLapFuelUsage = data.LastLapFuelUsage;
        FuelToEnd = data.FuelToEnd;
        FuelToAdd = data.FuelToAdd;
        FuelPerLap = data.FuelPerLap;
        LapsEstimatedLeft  = data.LapsEstimatedLeft;

        //Color numbers for widget
        if (data.FuelRemainingProcentage >= 50.0)
        {
            FuelRemainingColor = Settings!.ColorHigh;
        }   
        else if  (50.0 > data.FuelRemainingProcentage && data.FuelRemainingProcentage >= 35.0)
        {
            FuelRemainingColor = Settings!.ColorMidHigh; 
        }
        else if  (35.0 > data.FuelRemainingProcentage && data.FuelRemainingProcentage >= 15.0)
        {
            FuelRemainingColor = Settings!.ColorMidLow; 
        }
        else if  (15.0 > data.FuelRemainingProcentage && data.FuelRemainingProcentage >= 0.0)
        {
            FuelRemainingColor = Settings!.ColorLow;
        }
        if (data.FuelToEnd < data.FuelLeft)
        {
            FuelToEndColor = Settings!.ColorHigh; 
        }   
        else 
        {
            FuelToEndColor = Settings!.ColorLow; 
        }
        
        //ready variables for text to round or change format so it can be shown correctly
        TimeSpan t = TimeSpan.FromSeconds(data.TimeEstimatedLeft);
        if(t.Hours >= 1) 
        {
            TimeEstimatedLeftFormatted = t.ToString(format: @"hh\:mm");
            TimeEstimatedLeftColor = Settings!.ColorHigh; 
        }
        else if(t.Minutes >= 1)
        {
            TimeEstimatedLeftFormatted = t.ToString(@"mm\:ss");
            TimeEstimatedLeftColor = Settings!.ColorMidLow; 
        }
        else
        {
            TimeEstimatedLeftFormatted = t.ToString(@"ss");
            TimeEstimatedLeftColor = Settings!.ColorLow; 
        }
    }

    protected override void UpdateWithTestData()
    {
        FuelRemainingColor = Settings!.ColorHigh;
        FuelRemaining = 50.0f;
        TimeEstimatedLeftFormatted = "20:00";
        FuelPerLap = 50.0f;
        LapsEstimatedLeft = 5.0f;
        LastLapFuelUsage = 20.0f;
        FuelToEnd = 20.0f;
        FuelToEndColor = Settings!.ColorHigh;
        FuelToAdd = 20.0f;
        TimeEstimatedLeftColor = Settings!.ColorHigh;
    }
}
