@using R3E.YaHud.Components.Widget.Core
@using R3E.API
@using System.Drawing
@using static R3E.Constant
@inherits HudWidgetBase<FuelSettings>

@if (Settings.Visible)
{
    <div id=@ElementId class="Fuel-widget">
        <div class="data-grid">
            <div class="data-box large-box">
                <p class="value"style="color: @FRColor"> @FuelRemaining</p>
                <div class="label">Fuel Remaining</div>
            </div>

            <div class="data-box">
                <p class="value"style="color: rgb(0, 128, 0)">@TimeEstimatedLeft</p>
                <div class="label">Time Estimated Left</div>
            </div>


            <div class="data-box">
                <p class="value"style="color: rgb(127, 127, 43)">@LastLapFuelUsage</p>
                <div class="label">Last Lap Fuel Usage</div>
            </div>
            

            <div class="data-box large-box">
                <p class="value"style="color: @FTEColor">@FuelToEnd</p>
                <div class="label">Fuel to End</div>
            </div>

            <div class="data-box large-box">
                <p class="value"style="color: rgb(0, 128, 0)">@FuelToAdd</p>
                <div class="label">Fuel to Add</div>
            </div>

            <div class="data-box">
                <p class="value"style="color: rgb(0, 128, 0)">@LapsEstimatedLeft</p>
                <div class="label">Laps Estimated Left</div>
            </div>

            <div class="data-box">
                <p class="value"style="color: rgb(127, 127, 43)">@FuelPerLap</p>
                <div class="label">Fuel per Lap</div>
            </div>
        </div>
    </div>
}

@code {
    private float FuelRemaining { get; set; } = 0.0f;
    private string FRColor { get; set; } = "rgb(0, 128, 0)";
    private float FRColorSwitch { get; set; } = 0.0f;
    private float TimeEstimatedLeft { get; set; } = 0.0f;
    private float LapsEstimatedLeft { get;  set; } = 0.0f;
    private float LastLapFuelUsage { get; set; } = 0.0f;
    private float FuelPerLap { get; set; } = 0.0f;
    private float FuelToEnd { get; set; } = 0.0f;
    private string FTEColor { get; set; } = "rgb(0, 128, 0)";
    private float FTEColorSwitch { get; set; } = 0.0f;
    private float FuelToAdd { get;  set; } = 0.0f;
    private float FuelCapacity { get;  set; } = 0.0f;
    private int NumberOfLaps { get;  set; } = 0;
    private int oldNumberOfLaps = 0;
    private float oldFuelRemaining = 0.0f;
    private int SessionPhase = -1;
    private SessionLengthFormat SessionLengthFormat = SessionLengthFormat.Unavailable;
    public override string ElementId { get => "FuelWidget"; }
    public override string Name => "Fuel";
    public override string Category => "Telemetry";
    public override double DefaultXPercent => 50;
    public override double DefaultYPercent => 50;


    public Fuel()
    {
        UseR3EData = true;
        UpdateInterval = TimeSpan.FromMilliseconds(30);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        TelemetryService.NewLap += OnNewLap;
    }

    private void OnNewLap(TelemetryData newData)
    {
        //Everytime we pass raceline NumberOfLaps should update so we use this as a trigger to calculate the remaining variables 
        LastLapFuelUsage = oldFuelRemaining - FuelRemaining;
        oldFuelRemaining = FuelRemaining;
    }


    public override void Dispose()
    {
       TelemetryService.NewLap -= OnNewLap; 
    }

    protected override void Update()
    {
        R3E.Data.Shared data = TelemetryService.Data.Raw;

        //Start mapping of variables  
        SessionPhase = data.SessionPhase;
        FuelRemaining = data.FuelLeft;
        TimeEstimatedLeft = data.SessionTimeRemaining;
        FuelPerLap = data.FuelPerLap;
        LapsEstimatedLeft = data.FuelLeft / data.FuelPerLap;
        SessionLengthFormat = (SessionLengthFormat)data.SessionLengthFormat;


        //Start calculating rest of variables from mapped variables
        //Only on countdown - map the following varibales as a "oneshot" so it doesn't occur throughout the race
        if (SessionPhase == 4)
        {
           oldFuelRemaining = FuelRemaining;
           oldNumberOfLaps = data.NumberOfLaps;
           FuelCapacity = data.FuelCapacity;
        }

        //Based on the Session Format change the calculations
        switch (SessionLengthFormat)
          {
            case SessionLengthFormat.Unavailable:
            ; //Nothing to calculate
            break;

            // TimeBased
            case SessionLengthFormat.TimeBased: 
            FuelToEnd = (FuelPerLap / data.LapTimeCurrentSelf) * TimeEstimatedLeft;
            FuelToAdd =  Math.Min(FuelToEnd - FuelRemaining, data.FuelCapacity - FuelRemaining); 
            break;

            // LapBased
            case SessionLengthFormat.LapBased:
            FuelToEnd = data.NumberOfLaps / data.FuelPerLap;
            FuelToAdd =  Math.Min(FuelToEnd - FuelRemaining, data.FuelCapacity - FuelRemaining); 
            break;

            // TimeAndLapBased - Time and lap based session means there will be an extra lap after the time has run out
            case SessionLengthFormat.TimeAndLapBased:
            FuelToEnd = (data.NumberOfLaps+1) / data.FuelPerLap;
            FuelToAdd =  Math.Min(FuelToEnd - FuelRemaining, data.FuelCapacity - FuelRemaining);       
            break;
          }  


        FRColorSwitch = FuelRemaining / (FuelCapacity / 100);
        if (FRColorSwitch >= 50.0)
        {
            //green
            FRColor = "rgb(0, 128, 0)"; 
        }   
        else if  (50.0 > FRColorSwitch && FRColorSwitch >= 35.0)
        {
            //yellow
            FRColor = "rgb(255, 251, 0)"; 
        }
        else if  (35.0 > FRColorSwitch && FRColorSwitch >= 15.0)
        {
            //orange
            FRColor = "rgb(255, 102, 0);"; 
        }
        else if  (15.0 > FRColorSwitch && FRColorSwitch >= 0.0)
        {
            //red
            FRColor = "rgb(255, 0, 0)"; 
        }



        if (FuelToEnd < FuelRemaining)
        {
            //green
            FTEColor = "rgb(0, 128, 0)"; 
        }   
        else 
        {
            //red
            FTEColor = "rgb(255, 0, 0)"; 
        }
    }
}